body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 25px;
}

section {
  display: flex;
  justify-content: center;
  animation: pageLoading 0.1s linear;
}

@keyframes pageLoading {
  from {
    opacity: 0;
    margin-left: 10px;
  }
  to {
    opacity: 100%;
    margin-left: 0;
  }
}

.Pdiv {
  display: flex;
  width: 700px;
  max-height: 400px;
  flex-flow: column wrap;
  /* Wrap behavior */
  align-content: flex-start;
  background-color: #00000006;
  box-shadow: 0 0 10px grey;
  margin: 30px 0;
}

.preco,
.nome,
.descricao {
  /* Make the elements grow by it's size */
  align-self: flex-start;
  flex-wrap: wrap;
  max-width: 400px;
  margin: 10px 10px;
}

.preco {
  background-color: #00ef44;
  color: #008844;
  width: auto;
  border-radius: 4px;
  padding: 5px;
}

.Pimg {
  width: 250px;
}

.loader {
  margin-top: 100px;
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #000000; /* Blue */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 0.3s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
